<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.final_shopthucung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final_ShopThuCung"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ThongBaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThemSPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuanLiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DangKiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RuouVangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RuouNgoaiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>